/* Crime Color*/
/* #364859 #3C6482 #6189AE #86AED9 #BFB084 #E69225 #DD7E1E #E2A532 #DA5B17*/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 61.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #212c3d;
  background-color: #9ab4dc;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}

.container-chart {
  width: 80%;
  margin: 0;
  background-color: #6a8ab9;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);
  display: flex;
  flex-direction: column;
}
/*************************/
/* CHART COMPONENTS */
/**************************/

.heading-sec {
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 2.8rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  text-align: center;
}

.intro-sec {
  padding: 1.2rem 3.2rem;
  /* background-color: #e2eaf5; */
  background-color: #fff;
}

.introNum {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.introDes {
  font-size: 1.8rem;
  line-height: 1.8;
}
