/*************************/
/* CHART GENERAL */
/**************************/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 61.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #384a67;
  background-color: #b0c9ef;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}

.container-chart {
  width: 100%;
  margin: 0;
  background-color: #6a8ab9;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);
  display: flex;
  flex-direction: column;
}

/*************************/
/* CHART COMPONENTS */
/**************************/
.heading-container {
  padding: 0 3.2rem;
  margin: 0 auto;
}

.subheading {
  font-size: 3.2rem;
  line-height: 1.2;
  margin-top: 3rem;
  font-weight: 700;
  color: #384a67;
  letter-spacing: -0.5px;
  text-align: center;
}

.heading-sec {
  font-size: 2.8rem;
  line-height: 1.2;
  margin-bottom: 2.8rem;
  font-weight: 600;
  color: #384a67;
  letter-spacing: -0.5px;
  text-align: center;
  font-style: italic;
}
.chart-heading {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.chart-sec {
  padding: 1.2rem 3.2rem;
  background-color: #f1f4fa;
}

.chartDes {
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 0.8rem;
}

.chart-strong-text {
  font-weight: 600;
  text-shadow: 2px 2px 4px #292c5c07;
}

.bar-chart-box {
  margin-top: 4rem;
}

/*************************/
/* CHART BODY */
/**************************/
.chart-container {
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  column-gap: 2rem;
  row-gap: 1rem;
}
@media (max-width: 80em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
}
