/* Reference */
/*
The code snippet (1. How to comment) below has been sourced from
http://answers.unity3d.com/answers/221574/view.html
The code snippet appears in its original form
*/
/* CODE HERE
/ / End code snippet (1. How to comment) */

/**************************/
/* part SECTION */
/**************************/

.sec-part {
  background-color: #b7c6e3;
  padding: 8rem 0 10rem 0;
}

.part {
  max-width: 130rem;
  margin: 0 auto;
  gap: 7.2rem;
  align-items: center;
  padding: 0 3.2rem;
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.part-description {
  font-size: 2.5rem;
  line-height: 1.6;
}

.part-img {
  width: 90%;
  position: relative;
  transition: all 0.4s;
  display: block;
  border-radius: 20px;
}

.part-img-2 {
  width: 100%;
  position: relative;
  transition: all 0.4s;
  display: block;
  border-radius: 20px;
}

.part-img:hover {
  transform: scale(1.05);
}

.part-img::after {
  content: "";
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

/* add */
.key-items {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}

.key-items li {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.key-items li img {
  height: 40px;
  width: auto;
  margin-right: 1rem;
  margin-left: 1;
}

.key-items li span {
  color: #2c3e50;
  font-weight: bold;
}

/**************************/
/* INTRO SECTION */
/**************************/

.intro-sec {
  padding: 9.6rem 0;
  background-color: #ffffff;
}

.introNum {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.introDes {
  font-size: 1.8rem;
  line-height: 1.8;
}

.introImg-box {
  position: relative;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introImg {
  width: 90%;
  border-radius: 2rem;
  transition: all 0.4s;
}
.introImg:hover {
  transform: scale(1.05);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
}

/**************************/
/* cardS SECTION */
/**************************/

.card-sec {
  padding: 9.6rem 0;
}

.card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transition: all 0.4s;
  border-radius: 11px;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.card-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.card-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.card-text {
  font-size: 1.6rem;
}

.card-title {
  font-size: 2.2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.card-attributes {
  list-style: none;
  flex-direction: column;
  gap: 2rem;
  display: flex;
}

.card-attribute {
  font-size: 1.8rem;
  gap: 1.6rem;
  display: flex;
  align-items: center;
}

.card-img {
  width: 100%;
  height: 50%;
}

.all-events {
  text-align: center;
  font-size: 1.8rem;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.footer-grid {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.footer-head {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.logolCol {
  display: flex;
  flex-direction: column;
}

.soc-link {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.soc-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}
