/* Reference */
/*
The code snippet (1. How to comment) below has been sourced from
http://answers.unity3d.com/answers/221574/view.html
The code snippet appears in its original form
*/
/* CODE HERE
/ / End code snippet (1. How to comment) */

/**************************/
/* HEADER */
/**************************/

.header {
  background-color: #e6edf9;
  justify-content: space-between;
  padding: 0 4.8rem;
  align-items: center;
  height: 9.6rem;
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 8rem;
}

.header-text h1 {
  margin-left: 12px;
  font-size: 3.5rem;
  color: #35415e;
}

.header-text p {
  margin-left: 12px;
  font-size: 1.3rem;
  color: #35415e;
}

/**************************/
/* NAVIGATION */
/**************************/



.header-nav-list {
  list-style: none;
  gap: 3.2rem;
  align-items: center;
  display: flex;
}

.header-nav-link:link,
.header-nav-link:visited {
  display: inline-block;
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}

.header-nav-link:hover,
.header-nav-link:active {
  padding: 1rem 1.4rem;
  background-color: #19325f;
  border-radius: 12px;
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn{
  display: inline-block;
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 4px;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.profile-container {
  display: inline-block;
  width: auto;
  height: auto;
}

.profile {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
