/**************************/
/* HEADER */
/**************************/

.header {
  background-color: #e6edf9;
  justify-content: space-between;
  padding: 0 4.8rem;
  align-items: center;
  height: 9.6rem;
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 8rem;
}

.header-text h1 {
  margin-left: 12px;
  font-size: 3.5rem;
  color: #35415e;
}

.header-text p {
  margin-left: 12px;
  font-size: 1.3rem;
  color: #35415e;
}

/**************************/
/* NAVIGATION */
/**************************/

.header-nav-list {
  list-style: none;
  gap: 3.2rem;
  align-items: center;
  display: flex;
}

.header-nav-link:link,
.header-nav-link:visited {
  display: inline-block;
  color: #333;
  transition: all 0.3s;
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: none;
}

.header-nav-link:hover,
.header-nav-link:active {
  padding: 1rem 1.4rem;
  background-color: #19325f;
  border-radius: 12px;
  color: #fff;
}

.profile-container {
  display: inline-block;
  width: auto;
  height: auto;
}

.profile {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
