body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* const MAP_COLORS = [
  "#ae1501d6",
  "#dd1a007d",
  "#dbd3d3e1",
  "#4f8100de",
  "#005e0ef2",
]; */

#map {
  height: 100%;
  width: 100%;
}

.info.legend {
  background: #fff;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #333;
}

.info.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

/**************************/
/* SORT BUTTON COMPONENTS */
/**************************/
.sort-button {
  position: absolute;
  top: 10.2rem;
  left: 30rem;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.698);
  color: #43597b;
  width: 18rem;
  border: none;
  height: 4.8rem;
  font-weight: 600;
  font-size: 2rem;
  border-radius: 12px;
  padding: 0.8rem;
  text-align: center;
  transition: all 0.4s;
}

.sort-button:hover,
.sort-button:focus {
  color: #43597b;
  transform: scale(1.1);
  border: none;
  color: #da5b17;
}

.map-leaflet-container {
  position: relative;
}

.map-help-btn {
  position: absolute;
  top: 2rem;
  left: 8rem;
  z-index: 1000;
  font-weight: 600;
  font-size: 2rem;
  padding: 0.8rem;
  border-radius: 12px;
  color: #43597b;
  background-color: rgba(255, 255, 255, 0.698);
  text-decoration: none;
  transition: all 0.4s;
}

.map-help-btn:hover,
.map-help-btn:active,
.map-help-btn:focus {
  transform: scale(1.1);
  background-color: #fff;
  color: #da5b17;
}

.leaflet-container a {
  color: #43597b;
}
