/* Shades */
/* #6F94CD	#6485B9	#5976A4	#4E6890	#43597B	#384A67	#2C3B52	#212C3D	#161E29	#0B0F14	#000000*/

/* Tints */
/* #6F94CD	#7D9FD2	#8CA9D7	#9AB4DC	#A9BFE1	#B7CAE6	#C5D4EB	#D4DFF0	#E2EAF5	#F1F4FA	#FFFFFF */

:root {
  --masonry-width: 100%;
  --divider-width: 2rem;
  --property-width: calc((var(--masonry-width) - var(--divider-width) * 3) / 4);
}

/* Reference */
/*
The code snippet below has been sourced from Siyin Ye‘s (one of my team members) repository on GitHub.
https://github.com/SereneYe/DECO7140/blob/main/src/website_implementation/js/blog.js

The code snippet has been adapted to suit for property masonry rendering.
*/

/**************************/
/* CONTAINER */
/**************************/

.container-blog {
  grid-template-columns: 1fr;
  z-index: 1;
  padding: 1rem 4rem;
}

/**************************/
/* MASONRY CONTAINER*/
/**************************/

.container-photo {
  overflow-y: scroll;
  min-height: calc(100vh - 10rem);
  width: var(--masonry-width);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  counter-reset: propertys;
}

.container-photo::-webkit-scrollbar {
  display: none;
}

.divider1,
.divider2,
.divider3 {
  flex-basis: 100%;
  width: var(--divider-width);
}

/**************************/
/* MASONRY PROPERTY CARD*/
/**************************/

.property {
  width: var(--property-width);
  position: relative;
  transition: transform 0.5s !important;
  background-color: #c5d4ebd8;
}

.property-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
}

.property:focus {
  outline: none;
}

.property.show {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.property img {
  width: 100%;
  opacity: 0.9;
}

.divider1,
.divider2,
.divider3 {
  flex-basis: 100%;
  width: var(--divider-width);
}

/* flex items order */
.divider1 {
  order: 1;
}
.divider2 {
  order: 2;
}
.divider3 {
  order: 3;
}
.property:nth-of-type(4n + 1) {
  order: 1;
}
.property:nth-of-type(4n + 2) {
  order: 2;
}
.property:nth-of-type(4n + 3) {
  order: 3;
}
.property:nth-of-type(4n + 4) {
  order: 4;
}

@keyframes slideIn {
  from {
    filter: opacity(0);
    transform: translateY(100px);
  }
  to {
    filter: opacity(1);
    transform: translateY(0);
  }
}

/**************************/
/* MASONRY PROPERTY CONTENT */
/**************************/
.property {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s;
  margin-top: 2rem;
}

.property-img {
  width: 100%;
}

.property-content {
  padding: 1.6rem;
  color: #212c3d;
  display: flex;
  flex-direction: column;
}

.property-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 1.2rem;
}

.property-price {
  font-size: 1.8rem;
  font-style: italic;
  color: #2c3b52;
  font-weight: 600;
  text-align: center;
}

.property-link {
  color: #2c3b52;
  font-size: 1.6rem;
  margin-top: 1rem;
  align-self: flex-end;
  font-style: italic;
  transition: transform 0.4s;
}

.property-link:hover,
.property-link:focus,
.property-link:active {
  color: #2c3b52;
  transform: scale(1.1);
  font-weight: 600;
  text-decoration: none;
}

.property-name {
  font-size: 1.6rem;
  color: #2c3b52;
  font-weight: 500;
  margin-top: 1rem;
  text-align: right;
}

.property-line-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  display: flex;
}

.save-button {
  background-color: #87a9db;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 8px;
  padding: 5px 10px;
  border: none;
  margin-right: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  outline: none;
}

.save-button:hover,
.save-button:focus {
  cursor: pointer;
  background-color: #43597b;
  outline-style: none;
  box-shadow: 0px 0px 3px 2px #43597bab;
  transform: scale(1.05);
}

.remove-button {
  background-color: #c3002e;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 8px;
  padding: 5px 10px;
  border: none;
  margin-right: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  outline: none;
}

.remove-button:hover,
.remove-button:focus {
  cursor: pointer;
  background-color: #d8022b;
  outline-style: none;
  box-shadow: 0px 0px 3px 2px #e62450;
  transform: scale(1.05);
}

.property-info {
  font-size: 1.6rem;
  color: #2c3b52;
  font-weight: 600;
  margin-top: 1rem;
  text-align: right;
}

/* End code snippet */
