/* #1a2847 #19325f #354e6b #414f67 #99bcdd #6f94cd #adc8f1 #c4e5ef #f3fafa #5976ba #106898*/
/* Reference */
/*
The code snippet (1. How to comment) below has been sourced from
http://answers.unity3d.com/answers/221574/view.html
The code snippet appears in its original form
*/

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 61.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #212c3d;
  background-color: #b7c6e3;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}

.div-container {
  margin: 0;
  width: 100%;
  background-color: #d4dff0;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);
  display: grid;
  grid-template-rows: 10rem minmax(100rem, auto);
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "head head" "list recipe";
}

/*************************/
/* SUBURB RESULT COMPONENTS */
/**************************/

.suburb-results {
  background-color: #d4dff0;
  flex-direction: column;
  padding: 1rem 0;
  display: flex;
}

.rank-results {
  max-height: 96rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  list-style: none;
  margin-bottom: 2rem;
  overflow-y: scroll;
}

.rank-results::-webkit-scrollbar {
  display: none;
}

/**************************/
/* SORT BUTTON COMPONENTS */
/**************************/

.button-box {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  margin-bottom: 1rem;
  gap: 3rem;
}

.sort-button {
  background-color: #f3fafa;
  color: #19325f;
  width: 18rem;
  height: 3.2rem;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  font-size: 1.8rem;
}

.sort-button:hover,
.sort-button:focus {
  color: #17406c;
  border: none;
  background-color: #bdcfe1;
}

/**************************/
/* RANK COMPONENTS */
/**************************/
.rank-link:link,
.rank-link:visited {
  display: flex;
  align-items: center;
  padding: 1.5rem 3.25rem;
  transition: all 0.3s;
  border-right: 1px solid #fff;
  text-decoration: none;
}

.rank-link:hover {
  background-color: #adc8f1;
  transform: translateY(-2px);

}

.rank-link--active {
  background-color: #adc8f1;
}

.rank-fig {
  flex: 0 0 5.8rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  backface-visibility: hidden;
  height: 5.8rem;
  margin-right: 2rem;
}

.rank-fig::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #285b29, #0d3a0e);
  opacity: 0.1;
}

.rank-fig img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.3s;
}

.rank-data {
  row-gap: 0.5rem;
  grid-template-columns: 1fr 2rem;
  align-items: center;
  display: grid;
  width: 100%;
}

.rank-title {
  font-weight: 600;
  text-overflow: ellipsis;
  max-width: 25rem;
  white-space: nowrap;
  overflow: hidden;
  grid-column: 1/-1;
  font-size: 1.8rem;
  color: #19325f;
  text-transform: uppercase;
}

.rank-score {
  font-size: 1.6rem;
  color: #7c7b7b;
  font-weight: 600;
}

/**************************/
/* SUBURB COMPONENTS */
/**************************/
.suburb {
  background-color: #c5d4eb;
}

.message {
  font-size: 1.3rem;
  font-weight: 500;
  color: #19325f;
  text-align: center;
  margin-top: 3rem;
}

.suburb-fig {
  height: 40rem;
  position: relative;
  transform-origin: top;
}

.suburb-fig::before {
  background-image: linear-gradient(to right bottom, #282b5b, #0d133a);
  opacity: 0.1;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.suburb-img {
  object-fit: cover;
  width: 100%;
  display: block;
  height: 100%;
}

.suburb-title {
  font-weight: 600;
  font-size: 2.8rem;
  text-transform: uppercase;
  transform: translate(-50%, 20%);
  color: #fff;
  width: 70%;
  line-height: 1.95;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.suburb-title span {
  background-color: #19325f;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 1.3rem 2rem;
}

@media only screen and (max-width: 61.25em) {
  .suburb-title {
    width: 70%;
  }
}
.suburb-details {
  grid-gap: 1.8rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 5rem 5rem 6rem 5rem;
}

.suburb-info-row {
  align-items: center;
  font-size: 2rem;
  display: flex;
}

.suburb-info-column {
  align-items: flex-start;
  gap: 1rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.suburb-info-data {
  margin-left: 1rem;
  font-weight: 500;
}

.suburb-info-text {
  margin-left: 1rem;
  font-weight: 400;
}

.suburb-score {
  margin-left: 1rem;
  font-weight: 400;
}

.suburb-score-bold {
  margin-left: 1rem;
  font-weight: 600;
  color: #13264a;
}

.suburb-info-buttons {
  color: #19325f;
  transition: all 0.3s ease;
}

.suburb-info-buttons:hover,
.suburb-info-buttons:focus,
.suburb-info-buttons:active {
  color: #e18b00;
  scale: 1.05;
  text-decoration: none;
}

.suburb-info-row {
  align-items: flex-start;
  gap: 1rem;
  font-size: 2rem;
  display: flex;
}

/* End code snippet (1. How to comment) */
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .suburb_results {
    max-height: 96rem;
  }
  .div-container {
    grid-template-columns: 0.5fr 1.5fr;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .div-container {
    grid-template-columns: 1fr 1.5fr;
  }
  .suburb-results {
    width: 40rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 45%;
  }

  .event__info-row {
    flex-direction: column;
  }
  .div-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: auto auto auto;
  }

  .suburb-results {
    grid-row: 3;
    grid-column: 1 / -1;
    width: auto;
    max-height: 50rem;
  }

  .suburb {
    grid-row: 2;
    grid-column: 1 / -1;
  }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  html {
    font-size: 40%;
  }

  .div-container {
    display: grid;
  }
}
